atomicwrites
attrs
backcall
certifi
chardet
python-coveralls
decorator
gitdb2
GitPython
idna
jedi
numpy
parso
pexpect
pickleshare
pluggy
prompt-toolkit
ptyprocess
py
Pygments
pytest
pytest-cov
pytest-cover
pytest-coverage
python-dotenv
requests
scikit-learn
scipy
six
smmap2
traitlets
urllib3
wcwidth
setuptools
coverage
